@charset "utf-8";
/* CSS Document für Schreinerei Meier */

body {
  max-width:60em;
  margin: 1em auto;
  background-color: beige;
}

h1 {
    background-color: firebrick;
    color: beige;
    padding: 0.5em;
    font-family: sans-serif;
    border-radius: 0 1em 1em 1em;
}

h2 {
    font-size: 2.6em;
    color: firebrick;
    background-color: LightSalmon ;
    border: thin solid;
    font-family: cursive;
    text-align: center;
/*     position: fixed;
    top: 20em; */
}

p {
    color: brown;
    font-size: 1.1em;
}

header {
    /* height: 5em; */
    padding: 0 1em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 6em 1fr 1fr;
}

header p:first-of-type{
  font-size: 2em;
  font-weight: bold;
}

header p:last-of-type {
    transform: rotate(-5deg);
    border: thin solid;
    padding: 0.5em;
    border-radius: 0.2em;
    align-self: end;
    width: 14em;
}
header #backlink {
 display:inline-block;
 text-shadow: none;
 color: transparent;
 background: transparent;
 background-size: contain;
 width: 5em;
 height: 3em;
}

footer {
    display: grid;
    grid-template-columns: 1fr 10em;
/*   margin: auto;
  /* margin-right: 120em; */ */
}

footer p {
    text-align: center;
}


/* from https://www.w3schools.com/cSS/css_table_style.asp */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
